.cardSk {
  width: 100%;
  height: auto;
  background: var(--second-color);
  border-radius: var(--border-radius);
  margin: 0;
  transition: background 0.1s;
}
.cardSk:hover {
  background: var(--second-color-2);
}
.cardSk p {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-weight: 600;
}
.cardSk .img {
  height: calc(100% - 58px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cardSk .img img {
  width: 40%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 920px) {
  .cardSk {
    height: 250px;
  }
}

@media screen and (max-width: 730px) {
  .cardSk {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
}
