.cardPr {
  background-color: var(--second-color);
  border-radius: var(--border-radius);
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  height: 360px;
  transition: margin 0.2s;
}
.cardPr .image {
  width: 100%;
  height: 40%;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0;
}
.cardPr .image {
  object-fit: cover;
}
.cardPr .content {
  margin: 0;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: calc(50% - 10px);
}
.cardPr .content p {
  margin: 0;
  padding: 10px 0 0 0;
}
.cardPr .content .description {
  color: var(--text-color-2);
  font-size: 16px;
}
.cardPr .footer {
  margin: 0;
  padding: 0 10px 10px;
  width: calc(100% - 20px);
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.cardPr .footer p {
  margin: 0;
  color: var(--text-color-2);
  font-size: 15px;
  margin: auto 0;
}
.cardPr .icons {
  height: 100%;
}
.cardPr .icons img {
  margin: auto 0 auto 10px;
  width: 30px;
  height: 30px;
}
.cardPr .icons .link {
  padding-top: 2px;
  width: 28px;
  height: 28px;
}
.cardPr:hover {
  margin: 0 0 10px 0;
}

@media screen and (max-width: 730px) {
  .cardPr {
    width: 356.7px;
    height: 437.75px;
    margin: 0 auto 20px;
  }
  .cardPr:hover {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 450px) {
  .cardPr {
    width: auto;
    height: 437.75px;
    margin: 0 auto 20px;
  }
  .cardPr:hover {
    margin: 0 auto 20px;
  }
}
