.App {
  color: white;
  position: absolute;
  width: 100%;
  background: var(--primary-color);
  min-height: 100vh;
}

section {
  padding: 0 80px;
}

h2 {
  font-size: var(--big-fount);
}
h3 {
  font-size: var(--half-fount);
}
p {
  font-size: var(--little-fount);
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: var(--big-2-fount);
  }
  h3 {
    font-size: var(--half-2-fount);
  }
  p {
    font-size: var(--little-2-fount);
  }
}

@media screen and (max-width: 920px) {
  h2 {
    font-size: var(--big-2-fount);
  }
  h3 {
    font-size: var(--half-2-fount);
  }
  p {
    font-size: var(--little-2-fount);
  }
}

@media screen and (max-width: 730px) {
  section {
    padding: 0 40px;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-size: var(--big-3-fount);
  }
  h3 {
    font-size: var(--half-3-fount);
  }
  p {
    font-size: var(--little-3-fount);
  }
}
