html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #000000;
  --second-color: #161b22;
  --second-color-2: #1e252e;
  --big-fount: 82px;
  --half-fount: 42px;
  --little-fount: 22px;

  --big-2-fount: 62px;
  --half-2-fount: 32px;
  --little-2-fount: 20px;

  --big-3-fount: 47px;
  --half-3-fount: 22px;
  --little-3-fount: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
