.home {
  height: calc(100vh - 150px);
  padding: 75px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
.home .text,
.home .image {
  width: 100%;
}
.home img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.home .text {
  margin: auto;
}
.home .text h2 {
  margin: 0;
}
.home .text h3 {
  margin: 10px 0;
}
.home .text p {
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .home .text p {
    width: 70%;
  }
}

@media screen and (max-width: 940px) {
  .home {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 420px) {
    .home .text p {
      width: 100%;
    }
  }