.skills {
  min-height: calc(100vh - 128px);
  padding: 75px 0 54px 0;
  margin: 0;
  width: 100%;
}
.skills h3 {
  text-align: center;
  margin: auto;
  height: 54px;
}
.rows {
  width: 100%;
  height: calc(100% - 54px);
  margin: auto;
  display: block;
}
.row1,
.row2 {
  width: 100%;
  height: 50%;
  display: block;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .skills {
    height: auto;
  }
  .rows {
    height: auto;
    display: flex;
  }
  .row1,
  .row2 {
    height: auto;
    display: block;
  }  
}
@media screen and (max-width: 730px) {
  .rows {
    display: block;
  }
}
