.skills {
  display: grid;
  height: calc(100vh - 115px);
  padding: 95px 0 20px;
  grid-template-columns: repeat(3, calc(calc(100% - 40px) / 3));
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 920px) {
  .skills {
    grid-template-columns: repeat(2, calc(calc(100% - 20px) / 2));
    height: auto;
  }
}
@media screen and (max-width: 730px) {
  .skills {
    grid-template-columns: 100%;
  }
}
